<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Editar vuelo</title>

	<!-- Normalize V8.0.1 -->
	<link rel="stylesheet" href="/css/normalize.css">

	<!-- Bootstrap V4.3 -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<!-- Bootstrap Material Design V4.0 -->
	<link rel="stylesheet" href="/css/bootstrap-material-design.min.css">

	<!-- Font Awesome V5.9.0 -->
	<link rel="stylesheet" href="/css/all.css">

	<!-- Sweet Alerts V8.13.0 CSS file -->
	<link rel="stylesheet" href="/css/sweetalert2.min.css">

	<!-- Sweet Alert V8.13.0 JS file-->
	<script src="/js/sweetalert2.min.js" ></script>

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
	
	<!-- General Styles -->
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	
	<!-- Main container -->
	<main class="full-box main-container">
		<!-- Nav lateral -->
		<section class="full-box nav-lateral">
			<div class="full-box nav-lateral-bg show-nav-lateral"></div>
			<div class="full-box nav-lateral-content">
				<figure class="full-box nav-lateral-avatar">
					<i class="far fa-times-circle show-nav-lateral"></i>
					<img src="/assets/avatar/esla.jpg" class="img-fluid" alt="Avatar">
					<figcaption class="roboto-medium text-center">
						<%= user.name %> <br><small class="roboto-condensed-light"><%= user.role %></small>
					</figcaption>
				</figure>
				<div class="full-box nav-lateral-bar"></div>
				<nav class="full-box nav-lateral-menu">
					<ul>
						<% sidebarData.forEach(item => { %>
							<li>
								<% if (item.submenu) { %>
									<a href="#" class="nav-btn-submenu">
										<i class="<%= item.icon %>"></i> &nbsp; <%= item.title %> <i class="fas fa-chevron-down"></i>
									</a>
									<ul>
										<% item.submenu.forEach(subitem => { %>
											<li><a href="<%= subitem.link %>"><i class="fas fa-plus fa-fw"></i> &nbsp; <%= subitem.title %></a></li>
										<% }); %>
									</ul>
								<% } else { %>
									<a href="<%= item.link %>"><i class="<%= item.icon %>"></i> &nbsp; <%= item.title %></a>
								<% } %>
							</li>
						<% }); %>
					</ul>
				</nav>
			</div>
		</section>

		<!-- Page content -->
		<section class="full-box page-content">
			<nav class="full-box navbar-info">
				<a href="#" class="float-left show-nav-lateral">
					<i class="fas fa-exchange-alt"></i>
				</a>
				
			</nav>

			<!-- Page header -->
			<div class="full-box page-header">
				<h3 class="text-left">
					<i class="fas fa-plus fa-fw"></i> &nbsp; EDITAR VUELO
				</h3>
			</div>
			<!-- Content here-->
			<div class="container-fluid">
				<form action="/fly/<%= fly._id %>/editar" method="POST" class="form-neon" autocomplete="off" onsubmit="return validateForm()">
					<fieldset>
						<legend><i class="fas fa-user"></i> &nbsp; Información básica</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label for="name" class="bmd-label-floating">Nombre:</label>
										<input type="text" class="form-control" id="name" name="name" value="<%= fly.name %>" required maxlength="27">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label for="origin_lat" class="bmd-label-floating">Latitud de Origen:</label>
										<input type="tnumber"  class="form-control" value="<%= fly.origin_lat %>" name="origin_lat" id="origin_lat" required  maxlength="40">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="origin_lng" class="bmd-label-floating">Longitud de Origen:</label>
										<input type="number" class="form-control" value="<%= fly.origin_lng%>" name="origin_lng" id="origin_lng" required maxlength="40">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="destiny_lng" class="bmd-label-floating">Longitud de Destino:</label>
										<input type="number"  class="form-control" value="<%= fly.destiny_lng %>" name="destiny_lng" id="destiny_lng" required maxlength="20">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="destiny_lat" class="bmd-label-floating">Latitud de Destino:</label>
										<input type="number" class="form-control" value="<%= fly.destiny_lat %>" name="destiny_lat" id="destiny_lat" required maxlength="20">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="price" class="bmd-label-floating">Precio:</label>
										<input type="number" class="form-control" value="<%= fly.price %>" name="price" id="price" required maxlength="20">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="origin_name" class="bmd-label-floating">Nombre del Origen:</label>
										<input type="text" class="form-control" value="<%= fly.origin_name %>" name="origin_name" id="origin_name" required maxlength="20">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="destiny_name" class="bmd-label-floating">Nombre del Destino:</label>
										<input type="text"  class="form-control" value="<%= fly.destiny_name %>" name="destiny_name" id="destiny_name" required maxlength="20">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="aereo_line" class="bmd-label-floating">Línea Aérea:</label>
										<input type="text"  class="form-control" value="<%= fly.aereo_line %>" name="aereo_line" id="aereo_line" required maxlength="20">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>
					<p class="text-center" style="margin-top: 5px;">
						<button type="button" class="btn btn-raised btn-secondary btn-sm" onclick="window.location.href='/fly'"><i class="bi bi-x-circle-fill"></i> &nbsp; CANCELAR</button>
						&nbsp; &nbsp;

						<button type="submit" class="btn btn-raised btn-info btn-sm">
						<i class="bi bi-pencil-square"></i> &nbsp; ACTUALIZAR
					   </button>

					</p>
				</form>
			</div>	
		</section>
	</main>


	<script>
		var originalValues = {
			name: '<%= fly.name %>',
			origin_lat: '<%= fly.origin_lat %>',
			origin_lng: '<%= fly.origin_lng %>',
			destiny_lng: '<%= fly.destiny_lng %>',
			price: '<%= fly.price %>',
			origin_name: '<%= fly.origin_name %>',
			destiny_name: '<%= fly.destiny_name %>',
			aereo_line: '<%= fly.aereo_line %>'
		};
	
		function validateForm() {
			var currentValues = {
				name: document.getElementById('name').value,
				origin_lat: document.getElementById('origin_lat').value,
				origin_lng: document.getElementById('origin_lng').value,
				destiny_lng: document.getElementById('destiny_lng').value,
				price: document.getElementById('price').value,
				origin_name: document.getElementById('origin_name').value,
				destiny_name: document.getElementById('destiny_name').value,
				aereo_line: document.getElementById('aereo_line').value
			};
	
			var formChanged = Object.keys(originalValues).some(function(key) {
				return originalValues[key] !== currentValues[key];
			});
	
			if (formChanged) {
				alert("¡El formulario se ha actualizado correctamente!");
			} else {
				alert("No se ha modificado ningún campo. No se puede actualizar.");
			}
	
			return true;
		}
	</script>


	
	
	<!--=============================================
	=            Include JavaScript files           =
	==============================================-->
	<!-- jQuery V3.4.1 -->
	<script src="./js/jquery-3.4.1.min.js" ></script>

	<!-- popper -->
	<script src="./js/popper.min.js" ></script>

	<!-- Bootstrap V4.3 -->
	<script src="./js/bootstrap.min.js" ></script>

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<script src="./js/jquery.mCustomScrollbar.concat.min.js" ></script>

	<!-- Bootstrap Material Design V4.0 -->
	<script src="./js/bootstrap-material-design.min.js" ></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
	<script src="./js/main.js" ></script>


</body>
</html>