<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>Nuevo cliente</title>

	<!-- Normalize V8.0.1 -->
	<link rel="stylesheet" href="/css/normalize.css">

	<!-- Bootstrap V4.3 -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<!-- Bootstrap Material Design V4.0 -->
	<link rel="stylesheet" href="/css/bootstrap-material-design.min.css">

	<!-- Font Awesome V5.9.0 -->
	<link rel="stylesheet" href="/css/all.css">

	<!-- Sweet Alerts V8.13.0 CSS file -->
	<link rel="stylesheet" href="/css/sweetalert2.min.css">

	<!-- Sweet Alert V8.13.0 JS file-->
	<script src="/js/sweetalert2.min.js" ></script>

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<link rel="stylesheet" href="/css/jquery.mCustomScrollbar.css">
	
	<!-- General Styles -->
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>
	
	<!-- Main container -->
	<main class="full-box main-container">


		<section class="full-box nav-lateral">
			<div class="full-box nav-lateral-bg show-nav-lateral"></div>
			<div class="full-box nav-lateral-content">
				<figure class="full-box nav-lateral-avatar">
					<i class="far fa-times-circle show-nav-lateral"></i>
					<img src="/assets/avatar/esla.jpg" class="img-fluid" alt="Avatar">
					<figcaption class="roboto-medium text-center">
						<%= user.name %> <br><small class="roboto-condensed-light"><%= user.role %></small>
					</figcaption>
				</figure>
				<div class="full-box nav-lateral-bar"></div>
				<nav class="full-box nav-lateral-menu">
					<ul>
						<% sidebarData.forEach(item => { %>
							<li>
								<% if (item.submenu) { %>
									<a href="#" class="nav-btn-submenu">
										<i class="<%= item.icon %>"></i> &nbsp; <%= item.title %> <i class="fas fa-chevron-down"></i>
									</a>
									<ul>
										<% item.submenu.forEach(subitem => { %>
											<li><a href="<%= subitem.link %>"><i class="fas fa-plus fa-fw"></i> &nbsp; <%= subitem.title %></a></li>
										<% }); %>
									</ul>
								<% } else { %>
									<a href="<%= item.link %>"><i class="<%= item.icon %>"></i> &nbsp; <%= item.title %></a>
								<% } %>
							</li>
						<% }); %>
					</ul>
				</nav>
			</div>
		</section>

		<!-- Page content -->
		<section class="full-box page-content">
			<nav class="full-box navbar-info">
				<a href="#" class="float-left show-nav-lateral">
					<i class="fas fa-exchange-alt"></i>
				</a>
			</nav>

			<!-- Page header -->
			<div class="full-box page-header">
				<h3 class="text-left">
					<i class="fas fa-plus fa-fw"></i> &nbsp; EDITAR HOTEL
				</h3>
			</div>
			<!-- Content here-->

			<div class="container-fluid">
				<form action="/hoteles/<%= hotel._id %>/editar" method="POST" class="form-neon" autocomplete="off" onsubmit="if(validateForm()) showSuccessAlert()">
					<fieldset>
						<legend><i class="fas fa-user"></i> &nbsp; Información básica</legend>
						<div class="container-fluid">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label for="name" class="bmd-label-floating">Nombre del hotel</label>
										<input type="text" pattern="[a-zA-Z0-9-]{1,27}" class="form-control" id="name" name="name" value="<%= hotel.name %>" required maxlength="27">
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="form-group">
										<label for="address" class="bmd-label-floating">Dirección</label>
										<input type="text" class="form-control" value="<%= hotel.address %>" name="address" id="address" required  maxlength="40">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="rating" class="bmd-label-floating">Valoración</label>
										<input type="number" class="form-control" value="<%= hotel.rating %>" name="rating" id="rating" required min="1" max="5" step="1">
									</div>
								</div>
								<div class="col-12 col-md-4">
									<div class="form-group">
										<label for="cliente_telefono" class="bmd-label-floating">Precio</label>
										<input type="number" class="form-control" value="<%= hotel.price %>" name="price" id="price" required step="0.01" min="0" max="99999.99">
									</div>
								</div>
							</div>
						</div>
					</fieldset>
					<br><br><br>

					<p class="text-center" style="margin-top: 40px;">
						<button type="button" class="btn btn-raised btn-secondary btn-sm" onclick="window.location.href='/hoteles'"><i class="bi bi-x-circle-fill"></i> &nbsp; CANCELAR</button>
						&nbsp; &nbsp;
						<button type="submit" class="btn btn-raised btn-info btn-sm" onclick="return validateForm()"><i class="bi bi-pencil-square"></i> &nbsp; ACTUALIZAR</button>
					</p>
				</form>
			</div>	
		</section>
	</main>
	<script>
		var originalValues = {
			name: '<%= hotel.name %>',
			address: '<%= hotel.address %>',
			rating: '<%= hotel.rating %>',
			price: '<%= hotel.price %>'
		};
		function validateForm() {
			var formChanged = false;
	
			if (document.getElementById('name').value !== originalValues.name) {
				formChanged = true;
			}
			if (document.getElementById('address').value !== originalValues.address) {
				formChanged = true;
			}
			if (document.getElementById('rating').value !== originalValues.rating) {
				formChanged = true;
			}
			if (document.getElementById('price').value !== originalValues.price) {
				formChanged = true;
			}

			if (formChanged) {
                return true;
            } else {
                alert("No se ha modificado ningún campo. No se puede actualizar.");
                return false;
            }
        }
    
        function showSuccessAlert() {
            alert("¡El formulario se ha actualizado correctamente!");
        }
	</script> 
	
	<!--=============================================
	=            Include JavaScript files           =
	==============================================-->
	<!-- jQuery V3.4.1 -->
	<script src="./js/jquery-3.4.1.min.js" ></script>

	<!-- popper -->
	<script src="./js/popper.min.js" ></script>

	<!-- Bootstrap V4.3 -->
	<script src="./js/bootstrap.min.js" ></script>

	<!-- jQuery Custom Content Scroller V3.1.5 -->
	<script src="./js/jquery.mCustomScrollbar.concat.min.js" ></script>

	<!-- Bootstrap Material Design V4.0 -->
	<script src="./js/bootstrap-material-design.min.js" ></script>
	<script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
	
	<script src="./js/main.js" ></script>

</body>
</html>